<style>
  .loading {
    display: none;
  }

  .loading.is-loading {
    background: tomato;
    display: block;
  }
</style>

<liquid-section-renderer
  render-url="/products/example-product?variant=10101010"
  loading-selector="#loading"
  loading-class="is-loading"
  debounce="300"
  scoped="false"
  timeout="5000"
>
  <button
    trigger
    updates='[
      {
        "section": "featured-collection",
        "target": "#targetA"
      },
      {
        "section": "image-banner",
        "target": "#targetB"
      }
    ]'
  >
    Multi-Update
  </button>

  <button
    trigger
    section="featured-collection"
    target="#targetA"
  >
    Single Update
  </button>

  <div id="loading" class="loading">Loading...</div>
</liquid-section-renderer>

<script src="{{ 'liquid-section-renderer.js' | asset_url }}" defer="defer"></script>